:root {
    --color-re-main: #006657;
    --color-re1: #e18801;
    --primary: #120d4f;
    --secondary: #f7f7e3;
    --white: #fcfcfc;
    --prop1: #ffc414;
    --prop2: #182e5a;
    --prop3: #333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.background-1 {
    width: 100%;
    min-height: 100vh;

    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
}

@media (max-width: 768px) {
    .background-1 {
        background-position: center;
    }
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    align-content: center;
    width: 100%;
}

.logo-container .logo img {
    width: 50px;
    height: 100%;
    flex: 1;
}

.logo-container .logo-desc h1 {
    font-size: 1rem;
    margin-top: 10px;
    margin-left: 20px;
    flex: 1;
}
.navbar-main {
    background-color: var(--primary);
    color: var(--white) !important;
    border-bottom: solid 5px var(--prop1);
}

.navbar-vertical
    .navbar-nav
    .nav-item
    .collapse
    .nav
    .nav-item
    .nav-link:before,
.navbar-vertical
    .navbar-nav
    .nav-item
    .collapsing
    .nav
    .nav-item
    .nav-link:before {
    background-color: #fff !important;
}

/* rewrite */
.btn-outline-success {
    border-color: var(--primary) !important;
    color: var(--white);
}

.btn-outline-success:hover {
    color: var(--color-re-main) !important;
}

.bg-gradient-success {
    background-image: linear-gradient(
        310deg,
        var(--color-re-main) 0%,
        #4ab176 100%
    );
}

/* .icon {
    background-image: linear-gradient(
      310deg,
      var(--color-re-main) 0%,
      #4ab176 100%
    ) !important;
    color: #fff !important;
  } */

table.dataTable > tbody > tr.selected > * {
    box-shadow: inset 0 0 0 9999px rgba(19, 78, 68, 0.3) !important;
    color: black;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.custom-modal-class {
    max-width: 100%; /* Adjust the desired width */
    /* Additional custom styles */
}

.custom-success-class {
    max-width: 100%;
}

.custom-modal-class .swal2-popup {
    width: 30rem;
}

.custom-success-class .swal2-popup {
    width: 30rem;
}

.custom-font-size-xs {
    font-size: 13px !important;
}
.error-text {
    font-size: 12px;
    color: red;
}

.btn-custom {
    width: 20px !important;
}

/* CSS rules for screens with a maximum width of 600 pixels */
@media (max-width: 767px) {
    .logo-desc {
        display: none !important;
    }
    .hideToMobile {
        display: none !important;
    }
}

/* scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(75, 85, 84, 0.8) !important;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(22, 25, 29, 0.6) !important;
}

/*  */

.order-left-box {
    position: relative;
    text-align: center;
}
.order-left-box:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #ddd;
}
.order-left-box:nth-child(4)::after {
    width: 0;
}
@media (max-width: 991px) {
    .order-left-box:nth-child(2)::after {
        width: 0;
    }
}

.order-details-table .table tbody {
    border-bottom: 1px solid #ddd;
}
.order-details-table .table tbody tr td {

    text-align: left;
    max-width: 150px;
    border-bottom: none !important;
    color: #7e7e7e;
}
[dir="rtl"] .order-details-table .table tbody tr td {
    text-align: right;
}
@media (max-width: 767px) {
    .order-details-table .table tbody tr td:nth-last-child(-n + 4) {
        display: revert !important;
    }
}
.order-details-table .table tbody tr td:nth-child(1) {
    background-color: transparent;
}
.order-details-table .table tbody tr td h5 {
    margin-top: 10px;
    color: #212529;
}

.order-details-table .table tfoot tr td {
    text-align: right;
    padding: 10px 15px;
}
[dir="rtl"] .order-details-table .table tfoot tr td {
    text-align: left;
}
.order-details-table .table tfoot tr td:nth-child(1) {
    text-align: left;
    width: 100%;
}
[dir="rtl"] .order-details-table .table tfoot tr td:nth-child(1) {
    text-align: right;
}
.order-details-table .table tfoot tr td h4 {
    font-weight: 400;
    color: #212529;
}

.order-details-table .table tfoot tr.table-order:nth-child(3) {
    border-bottom: 1px solid #ddd;
}

.order-details-table .order-success {
    padding: 30px;
    border-radius: 5px;
    background-color: #eff2f7;
}
@media (max-width: 360px) {
    .order-details-table .order-success {
        padding: 20px;
    }
}
.order-details-table .order-success h4 {
    font-weight: 700;
    text-transform: capitalize;
    font-size: 16px;
    margin-bottom: 8px;
}
.order-details-table .order-success .order-details li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: capitalize;
    line-height: 1.6;
    font-size: 15px;
    margin-bottom: 3px;
    color: #7e7e7e;
}
.order-details-table .order-success .payment-mode p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 0;
    color: #7e7e7e;
    letter-spacing: 1px;
}
.order-details-table .order-success .delivery-sec {
    margin-bottom: -5px;
    padding: 0;
    margin-top: 20px;
    background-color: transparent;
}
.order-details-table .order-success .delivery-sec h3 {
    color: #212529;
    text-transform: capitalize;
    font-size: 18px;
    margin-bottom: 0;
    font-weight: 400;
}
.order-details-table .order-success .delivery-sec h3 span {
    font-weight: 700;
    margin-left: 5px;
}
[dir="rtl"] .order-details-table .order-success .delivery-sec h3 span {
    margin-left: 0;
    margin-right: 5px;
}
.order-details-table .order-success .delivery-sec a {
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 5px;
    display: block;
    font-weight: 600;
}

.cart-section .count-down {
    margin-bottom: 5px;
    padding: 0;
    letter-spacing: 1.1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #212529;
}
@media (max-width: 767px) {
    .cart-section .count-down {
        display: block;
        text-align: center;
    }
}
.cart-section .count-down h5 {
    margin-right: 10px;
}
[dir="rtl"] .cart-section .count-down h5 {
    margin-right: unset;
    margin-left: 10px;
}
@media (max-width: 767px) {
    .cart-section .count-down h5 {
        margin-right: 0;
        margin-bottom: 13px;
    }
}

.cart-section .table tbody + tbody {
    border-top: none;
}

.cart-section .cart-buttons {
    padding-top: 35px;
}
.cart-section .cart-buttons > div:last-child {
    text-align: right;
    padding-right: 59px;
    padding-right: 38px;
}

.cart-section .cart-table {
    overflow: hidden;
    margin-bottom: 0;
}
.cart-section .cart-table thead th {
    border-bottom-width: 1px;
    font-weight: 600;
    color: #212529;
    text-transform: uppercase;
    font-size: 15px;
    border-top: 0;
    text-align: center;
    border-bottom: 1px solid #eff2f7 !important;
    padding: 12px;
    background-color: #eff2f7;
}
@media (max-width: 767px) {
    .cart-section .cart-table thead th:nth-last-child(-n + 4) {
        display: none;
    }
}

.cart-section tbody h2 {
    margin-bottom: 0;
}

.cart-section tbody tr.table-order td {
    min-width: 150px;
}

.cart-section tbody tr td {
    vertical-align: middle;
    color: #212529;
    border-top: 0;
    border-bottom: 1px solid #c7c7c5 !important;
    text-align: center;
    min-width: 175px;
}
@media (max-width: 767px) {
    .cart-section tbody tr td:nth-last-child(-n + 4) {
        display: none;
    }
}
.cart-section tbody tr td a {
    color: #7e7e7e;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 0;
}
.cart-section tbody tr td a.icon {
    border: 1px solid rgba(169, 169, 169, 0.5);
    padding: 10px 15px;
    border-radius: 3px;
}
.cart-section tbody tr td a img {
    height: 80px;
}
.cart-section tbody tr td p {
    color: #777777;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 0;
}
.cart-section tbody tr td p img {
    height: 90px;
}
.cart-section tbody tr td .td-color {
    color: var(--theme-deafult);
}
.cart-section tbody tr td h2 {
    font-size: 20px;
    color: var(--theme-color);
    font-weight: 400;
}
.cart-section tbody tr td .mobile-cart-content {
    display: none;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
}
@media (max-width: 767px) {
    .cart-section tbody tr td .mobile-cart-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    }
}
.cart-section tbody tr td .mobile-cart-content .qty-box {
    border-radius: 5px;
}
.cart-section
    tbody
    tr
    td
    .mobile-cart-content
    .qty-box
    .input-group
    .form-control {
    width: 48px;
    padding: 6px;
}
.cart-section tbody tr td .mobile-cart-content .col {
    -ms-flex-item-align: center;
    align-self: center;
    margin: 10px 0;
}
@media (max-width: 767px) {
    .cart-section tbody tr td .mobile-cart-content .col {
        margin: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
}
.cart-section tbody tr td .mobile-cart-content h2 {
    font-size: 20px;
}
.cart-section tbody tr td .qty-box .input-group {
    display: block;
}
.cart-section tbody tr td .qty-box .input-group .form-control {
    width: 75px;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    height: 50px;
}

.cart-section tfoot tr th {
    padding-top: 35px;
    text-align: right;
}

.cart-section tfoot tr td {
    padding-top: 35px;
    padding-bottom: 0;
    text-align: right;
    border: none;
    padding-right: 63px;
    padding-right: 41px;
}
.cart-section tfoot tr td h2 {
    font-size: 20px;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
}
.cart-section tfoot tr td:first-child {
    width: 85%;
    font-size: 15px;
    padding-right: 10px;
    text-transform: capitalize;
    font-weight: 700;
}

.cart-section .left-side-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
[dir="rtl"] .cart-section .left-side-button a i {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
@media (max-width: 767px) {
    .cart-section .left-side-button {
        text-align: center;
    }
}
@media (max-width: 767px) {
    .cart-section .left-side-button .shopping-button {
        width: 100%;
        text-align: center;
    }
}

.cart-section .cart-checkout-section {
    margin-top: 30px;
}
.cart-section .cart-checkout-section .promo-section .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.cart-section .cart-checkout-section .promo-section .input-group .form-control {
    padding: 12px 20px;
}
.cart-section .cart-checkout-section .checkout-button {
    text-align: right;
}
[dir="rtl"] .cart-section .cart-checkout-section .checkout-button {
    text-align: left;
}
.cart-section .cart-checkout-section .checkout-button a {
    border-radius: 5px;
}
.cart-section .cart-checkout-section .cart-box {
    background-color: #eff2f7;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}
.cart-section .cart-checkout-section .cart-box label {
    font-weight: 500;
    margin-bottom: 8px;
    text-transform: capitalize;
}
.cart-section
    .cart-checkout-section
    .cart-box
    .cart-box-details
    .total-details
    span {
    float: right;
}
